.template {
    position: relative;
    top: 25px;
}

.teammember {
position: relative;
top: 50px;
}

.buttons {
position: relative;
top: 75px
}

p {
position: relative;
top: 200px
}

.dropdown-content li>span {
color: black;
}



